@model AppUserModel

@{
	ViewData["Title"] = "Confirm password";
}

<div class="container-fluid page-header py-5">
	<h1 class="text-center text-white display-6">Confirm password</h1>
	<ol class="breadcrumb justify-content-center mb-0">
		<li class="breadcrumb-item"><a href="#">Home</a></li>
		<li class="breadcrumb-item"><a href="#">Pages</a></li>
		<li class="breadcrumb-item active text-white">Confirm password</li>
	</ol>
</div>
<div class="container-fluid py-5">
	<div class="container py-5">
		<div class="row justify-content-center">
			<div class="col-lg-4">
				<div class="text-center">
					<i class="bi bi-person-circle display-4 text-secondary"></i>
					<h1 class="mb-4">Confirm password to you account</h1>
				</div>
				<div class="text-danger" asp-validation-summary="ModelOnly"></div>
				<form asp-action="UpdatePasswordConfirm" asp-controller="Account" method="post">
					<input type="hidden" name="Token" value="@ViewBag.Token" />
					<div class="form-item">
						<label class="form-label my-3">Email<sup>*</sup></label>
						<input type="text" class="form-control" asp-for="Email" value="@ViewBag.Email" readonly>
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="form-item">
						<label class="form-label my-3">Password<sup>*</sup></label>
						<input type="password" class="form-control" asp-for="PasswordHash">
						<span asp-validation-for="PasswordHash" class="text-danger"></span>
					</div>
					<div class="mt-4 d-flex justify-content-between">
						<a asp-action="ForgotPassword" asp-controller="Account">Forgot password?</a>
					</div> <!-- form-group form-check .// -->
					<div class="form-item pt-4 mt-4 g-4">
						<button class="btn border-secondary py-1 px-2 text-primary w-100">Submit</button>
					</div>
				</form>
				<br><br>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}