@model SliderModel

@{
	ViewData["Title"] = "Create Slider";
}

<main>
	<div class="container-fluid px-4">
		<h1 class="mt-4">Add new Slider</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
			<li class="breadcrumb-item active">Add new Slider</li>
		</ol>
		<form asp-action="Create" method="post" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="row">
				<div class="col-md">
					<div class="form-group">
						<label class="form-label">Title</label>
						<input asp-for="Title" class="form-control" type="text" />
						<span asp-validation-for="Title" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label class="form-label">Description</label>
						<textarea asp-for="Description" class="form-control"></textarea>
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md">
					<div class="form-group">
						<label class="form-label">Image</label>
						<input asp-for="ImageUpload" class="form-control" type="file" />
						<span asp-validation-for="ImageUpload" class="text-danger"></span>
						<img id="imgpreview" class="mt-2" style="object-fit: cover; border: 1px solid #ccc; border-radius: 5px; padding: 2px;" />
					</div>
					<div class="form-group">
						<label class="form-label">Status</label>
						<select asp-for="Status" class="form-select">
							<option>-- Choose a status --</option>
							<option value="1"> Hiện </option>
							<option value="0"> Ẩn </option>
						</select>
						<span asp-validation-for="Status" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="my-3">
				<button class="btn btn-sm btn-primary">Submit</button>
				<button class="btn btn-sm btn-outline-secondary" asp-action="Index" formnovalidate>Cancel</button>
			</div>
		</form>
	</div>
</main>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		$('#ImageUpload').change(function(){
			readURL(this);
		});
	</script>
}