@using Microsoft.AspNetCore.Identity
@model IdentityRole

@{
	ViewData["Title"] = "Create Role";
}

<main>
	<div class="container-fluid px-4">
		<h1 class="mt-4">Add new Role</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Dashboard</a></li>
			<li class="breadcrumb-item active">Add new Role</li>
		</ol>
		<form asp-action="Create" method="post" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="row m-auto">
				<div class="col-md-8">
					<div class="form-group">
						<label class="form-label">Role Name</label>
						<input asp-for="Name" required class="form-control" type="text" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
				</div>
				<div class="my-3">
					<button class="btn btn-sm btn-primary">Submit</button>
					<button class="btn btn-sm btn-outline-secondary" asp-action="Index" formnovalidate>Cancel</button>
				</div>
			</div>
		</form>
	</div>
</main>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}