<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" asp-action="Index" asp-controller="Dashboard">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Interface</div>
                <a class="nav-link" asp-action="Index" asp-controller="Shipping">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-truck-fast"></i></div>
                    Shipping
                </a>
                <a class="nav-link" asp-action="Index" asp-controller="Coupon">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-percent"></i></div>
                    Coupon
                </a>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProducts" aria-expanded="false" aria-controls="collapseProducts">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
                    Products
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseProducts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" asp-action="Index" asp-controller="Product">List Product</a>
                    </nav>
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" asp-action="Index" asp-controller="ProductCategory">Product Category</a>
                    </nav>
                </div>
                <a class="nav-link" asp-action="Index" asp-controller="Category">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Category
                </a>
                <div class="sb-sidenav-menu-heading">Addons</div>
                <a class="nav-link" asp-action="Index" asp-controller="Order">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Order
                </a>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseMangers" aria-expanded="false" aria-controls="collapseMangers">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                    Mangers
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseMangers" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" asp-action="Index" asp-controller="User">Users</a>
                    </nav>
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" asp-action="Index" asp-controller="Role">Roles</a>
                    </nav>
                </div>
                <a class="nav-link" asp-action="Index" asp-controller="Slider">
                    <div class="sb-nav-link-icon"><i class="fa-regular fa-images"></i></div>
                    Slider
                </a>
                <a class="nav-link" asp-action="Index" asp-controller="Contact">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-phone"></i></div>
                    Contact
                </a>
                <a class="nav-link" asp-action="Index" asp-controller="Menu">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-compass"></i></div>
                    Menu
                </a>
                <a class="nav-link" asp-action="Index" asp-controller="Brand">
                    <div class="sb-nav-link-icon"><i class="fa-brands fa-viadeo"></i></div>
                    Brand
                </a>
                <a class="nav-link" asp-action="Index" asp-controller="Banner">
                    <div class="sb-nav-link-icon"><i class="fa-brands fa-viadeo"></i></div>
                    Banner
                </a>
                <a class="nav-link" asp-action="ChatAdmin" asp-controller="Realtime">
                    <div class="sb-nav-link-icon"><i class="fa-regular fa-comments"></i></div>
                    Chat
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>