@model IEnumerable<CategoryModel>

@foreach (var item in Model)
{
	<li class="nav-item">
		<a class="d-flex py-2 m-2 bg-light rounded-pill @(ViewBag.Slug==item.Slug?"active" : "")" asp-action="Index" asp-controller="Home" asp-route-slug="@item.Slug">
			<span class="text-dark" style="width: 130px;">@item.Name</span>
		</a>
	</li>
}