@model IEnumerable<ProductCategoryModel>

@if (Model != null && Model.Any())
{
	@foreach (var item in Model)
	{
		<li>
			<div class="d-flex justify-content-between fruite-name">
				<a asp-action="Index" asp-controller="Product" asp-route-slug="@item.Slug"><i class="fas fa-apple-alt me-2"></i>@item.Name</a>
				<span>(@item.Products.Count())</span>
			</div>
		</li>
	}
}
else
{
	<li>
		<p>No product category found</p>
	</li>
}