@model ContactModel

<div class="d-flex justify-content-between">
	<div class="top-info ps-2">
		@if (Model != null)
		{
			<small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">@Model.Address</a></small>
			<small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">@Model.Email</a></small>
		}
		else
		{
			<small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">Address Not Set</a></small>
			<small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">Email Not Set</a></small>
		}
	</div>
	<div class="top-link pe-2">
		<a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
		<a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
		<a href="#" class="text-white"><small class="text-white ms-2">Sales and Refunds</small></a>
	</div>
</div>